.Toolbar {
  height: 3.5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgray;
  top: 0;
  left: 0;
}

.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 80%;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
